/* Form Styles */

.form-container {
  border: 1px solid #ebebeb;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

.form-container h3 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
}

.form-container label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.form-container label input {
  width: 100%;
  display: block;
  border: #ccc 1px solid;
  padding: 5px 10px;
  margin-top: 5px;
}

.form-container input[type="submit"] {
  cursor: pointer;
}
